

<form action="/user/sign-in" method="POST">
    <div class="container">
        <input type='email' name='email' id="email" placeholder="Email" required>
        <input type='password' name='password' id="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </div>
</form>

